* {
    font-family: Balthazar;
  }
  a.skip{
    background: transparent;
    color: black;
    position: absolute;
    top: -50px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  a.skip:focus{
    top:10px;
    left: 10px;
    color: black;
    text-decoration-style: solid;
  }
  .h {
    color:black;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    text-align: center;
    letter-spacing: .25em;
    margin: 1.4em 0 1em;
  
  }
  
.nav_links {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.nav_links ul li {
  margin: 8px;
}

.nav_links ul li a {
  text-decoration: none;
  color: black;
  padding: 8px 25px;
}

.nav_links ul li a:hover {
  background-color: transparent;
  color: black;
  text-decoration: underline;
}
.nav_links .current{
  background-color: transparent;
  text-decoration: underline;
}
    
  .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 600px;
    min-height: 600;
  }
  .card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: transparent;
    border: solid black;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }

  div img{
    display: block;
    margin: auto;
  }

  img {
    width: 100px;
    display: block;
  }

  #karlstad{
    width: 90px;
  }
  #umich{
    color: black;
    font-size: 19px;
    margin-bottom: 15px;
  }
  h2{
    color:black;
    font-size: 23px;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  h3{
    color: black;
    font-size: 19px;
    margin-bottom: 15px;
  }
  h1{
    color:black;
    font-size: 23px;
    margin-bottom: 15px;
    margin-top: 50px;
  }
  h5{
    color:black;
    font-size: 23px;
    margin-bottom: 15px;
    margin-top: 35px;
  }
  .pra p{
    font-size: 16px;
    margin-bottom: 15px;
    }
  
  footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    padding-top: 20px;
  }
  
  .socials {
    display: flex;
  }
  
  .socials a {
    width: 16px;
    display: flex;
    margin: 22px 10px;
  }
  
  @media screen and (min-width:800px) {
    .nav_links {
      display: flex;
    }
    .nav_links ul {
      display: flex;
      list-style: none;
      margin: 20px 0px;
    }
  
  }